<h2>Edit project</h2>
<form class="" action="/project/{{id}}/edit" method="post">
  <div class="form-group">
    <label>Title: </label>
    <input type="text" name="title" value="{{title}}" placeholder="Title of Project">
  </div>
  <div class="form-group">
    <label>Goal: </label>
    <input type="number" name="goal" value="{{goal}}" placeholder="Price goal">
  </div>
  <div class="form-group">
    <label>Description: </label>
    <textarea name="description" rows="8" cols="80" placeholder="description of project">{{description}}</textarea>
  </div>
  <div class="form-group">
    <label>Start Date: </label>
    <input type="Date" name="start" value="{{start}}"placeholder="Start Date">
  </div>
  <div class="form-group">
    <label>End Date:</label>
    <input type="Date" name="end" value="{{end}}" placeholder="End Date">
  </div>
  <div class="form-group">
    <label>Category</label>
    <select name="category">
      <option name="category" value="Famous Muppet Frogs">Famous Muppet Frogs</option>
      <option name = "category" value="Current Black Presidentsc">Current Black Presidents</option>
      <option name = "category" value="The Pen Is Mightier">The Pen Is Mightier</option>
      <option name = "category" value="Famous Mothers">Famous Mothers</option>
      <option name = "category" value="Drummers Named Ringo">Drummers Named Ringo</option>
      <option name = "category" value="1-Letter Words">1-Letter Words</option>
      <option name = "category" value="Months That Start With 'Feb'">Months That Start With "Feb"</option>
      <option name = "category" value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
      <option name = "category" value="Potent Potableso">Potent Potables</option>
  </select>
  </div>
  <input type="submit" name="createProject" value="Create Project" >

</form>
