<h1>View Project</h1>

<!-- Part 3: View a single project -->
<div class="">
  <h2>{{title}}</h2>
  <h3>{{goal}}</h3>
  <p>{{description}}</p>
  <h3>Start Date: {{start}}</h3>
  <h3>End Date: {{end}}</h3>
  <div class="">Progress:
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{percent}}%" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">{{percent}}% completed</div>
    </div>
  </div>
  <h4>Total Contributors: {{count}}</h4>
  <h4>Total amount of contributions: {{total}}
    <ul>
      {{#each contributions}}
      <li>{{name}}: ${{amount}}</li>
      {{/each}}
    </ul>
  </h4>
</div>


<h3>Contributions</h3>

<form method="post">
  <input type="text" name="contributionName" value=""placeholder="Name">
  <input type="number" name="contribution" value="" placeholder="Contribution">
  <input type="submit" name="" value="submit">
</form>

<!-- YOUR CODE HERE -->

<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
